    
body {
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


.header{
    background-color:rgba(150, 176, 247, 0);
    font-family: 'Indie Flower', cursive;
    color: red; 
    height: 120 px;
    line-height:120px;
    text-align:center;
    font-size: 80px;
}
.sidebar_left{
    background-color:rgb(235, 131, 150,0);
    width:150px;
    height:400px;
    text-align:center;
    line-height:400px;
    float:left;
    font-size: 40px;
    
}
.sidebar_right{
    background-color:rgb(235, 131, 150,0);
 
    text-align:center;
    
    float:right;

    
}
.content{
    margin-left:120px;
    margin-right:120px;
    width:1000px;
    height:400px;
    background-color:rgba(180, 193, 196, 0);
    font-family: 'Itim', cursive;
    text-align:center;
    line-height:70px;
    font-size: 50px;
    margin: 0 auto;
}
.footer{
    clear:both;
    background-color:rgba(250, 169, 216, 0);
    color:blue;
    margin: 0 auto;
    font-weight: bold;
    width:70%;
    height:80px;
    text-align:center;
    line-height:80px;
    font-size: 40px;
}
